<div class="css3-spinner"><div class="css3-spinner-bounce1"></div><div class="css3-spinner-bounce2"></div><div class="css3-spinner-bounce3"></div></div>

	<script>
	   $('.css3-spinner').fadeOut(); 
	</script>

/*-----------------------------------------------------------------
    18. CSS SPINNER
-------------------------------------------------------------------*/
@-webkit-keyframes bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0.0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
.css3-spinner {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10000;
  text-align: center;
  background-color: #FFF;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.css3-spinner .css3-spinner-bounce1 {
  margin-left: -31px;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.css3-spinner .css3-spinner-bounce2 {
  margin-left: -9px;
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.css3-spinner > div {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -9px;
  margin-left: 13px;
  width: 18px;
  height: 18px;
  background-color: #DDD;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


/******************************
	Fade out Spinner
		Make sure this loads when the page content loads or after.
		Eg: Put the previous CSS in the head and this somewhere in the body
		Or use this:
		<script>
           $('.css3-spinner').fadeOut(); 
        </script>
******************************/
.css3-spinner {
    animation-name:fade-out;
    animation-duration: 0.5s;
    animation-delay: 3s;
    -webkit-animation-name:fade-out; 
    -webkit-animation-duration: 0.5s;
    -webkit-animation-delay: 3s;
    animation-fill-mode: forwards;
    
    
} 

@-webkit-keyframes fade-out{
    0%   {opacity: 1;}
    50%  {opacity: 0.8;}
    70% {opacity: 0.5;}
    100% {opacity: 0; display: none; z-index: -1}
}



/*******    CSS Spinner End *********/


/*******    CSS Spinner End *********/






/******* CSS minified Version without css fade out *********/
<style>
@-webkit-keyframes bouncedelay{0%,100%,80%{-webkit-transform:scale(0)}40%{-webkit-transform:scale(1)}}@keyframes bouncedelay{0%,100%,80%{transform:scale(0);-webkit-transform:scale(0)}40%{transform:scale(1);-webkit-transform:scale(1)}}.css3-spinner{position:fixed;width:100%;height:100%;top:0;left:0;z-index:10000;text-align:center;background-color:#FFF;-webkit-animation-fill-mode:both;animation-fill-mode:both}.css3-spinner .css3-spinner-bounce1{margin-left:-31px;-webkit-animation-delay:-.32s;animation-delay:-.32s}.css3-spinner .css3-spinner-bounce2{margin-left:-9px;-webkit-animation-delay:-.16s;animation-delay:-.16s}.css3-spinner>div{position:absolute;top:50%;left:50%;margin-top:-9px;margin-left:13px;width:18px;height:18px;background-color:#DDD;border-radius:100%;display:inline-block;-webkit-animation:bouncedelay 1.4s infinite ease-in-out;animation:bouncedelay 1.4s infinite ease-in-out;-webkit-animation-fill-mode:both;animation-fill-mode:both}
</style>
/********/